@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-image: url('./assets/head-background.png');
}

::-webkit-scrollbar {
    display: none;
}


html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

